<a href="https://colab.research.google.com/github/Pranav123-AP/Python-with-Machine-Learning/blob/main/pandas1_077.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
emp = pd.Series(['Parker','John','Smith','William'])
id = pd.Series([102,107,109,114])

frame = {'Emp': emp, 'ID': id}
result = pd.DataFrame(frame)

print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [4]:
print("\nAdding new column:\n")
result['Age'] = pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [5]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [6]:
print("\nSlice rows:\n", result[1:3])

Slice rows:
      Emp   ID
1   John  107
2  Smith  109

In [7]:
d2 = pd.DataFrame([['Dale',123],['Mark',143]], columns=['Emp','ID'])
print("\nAdding new row values:\n", pd.concat([result, d2], ignore_index=True))

Adding new row values:
        Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114
4     Dale  123
5     Mark  143

In [8]:
print("\nDeleting particular row:\n", result.drop(1))

Deleting particular row:
        Emp   ID
0   Parker  102
2    Smith  109
3  William  114